.root {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-TGsX6PuclS3s);
  padding-bottom: 38px;
  min-width: 0;
  min-height: 0;
}
.rootglobal_theme_dark {
  background: var(--token-DHWjm7hhEEqd);
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.appTitle {
  position: relative;
  width: auto;
  height: auto;
  align-self: auto;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-size: 50px;
  color: var(--token-g4lbA8rZuAgT);
}
.appTitleglobal_theme_dark {
  color: var(--token-6JX0gquOucFp);
}
.textInput2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  align-self: center;
  width: auto;
  margin: 1px;
}
.svg__rtt {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__fs7Mz {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.questionPanel {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  overflow: auto;
  left: auto;
  top: auto;
  padding: 8px;
}
.mcBtn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  margin: 10px;
}
.svg {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svgglobal_theme_dark {
  display: none;
}
.svg__y5CTa {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.saBtn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  margin: 10px;
}
.svg__mtBpK {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__qE6Ie {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__wGgfr {
  box-shadow: 0px 25px 50px 0px #0000001a;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  align-self: auto;
  width: 550px;
  height: auto;
  backdrop-filter: blur(0px) blur(0px);
  overflow: hidden;
  -webkit-backdrop-filter: blur(0px) blur(0px);
}
.freeBoxglobal_theme_dark__wGgfrlCthO {
  box-shadow: 0px 25px 50px 0px rgba(255, 255, 255, 0.3);
}
.appBody {
  box-shadow: 0px 2px 4px 0px #00000033;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  width: 550px;
  height: auto;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  position: relative;
  z-index: 1;
  background: var(--token-hCm8RC3HYdLy);
  left: auto;
  top: auto;
  cursor: auto;
  backdrop-filter: blur(0px);
  filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  padding: 0px;
  margin: 10px;
}
.appBodyglobal_theme_dark {
  box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.5);
  background: var(--token-xUmLPxmW_jbT);
}
.header__krYgz:global(.__wab_instance) {
  position: relative;
  width: auto;
  align-self: stretch;
  height: auto;
  flex-grow: 0;
  flex-shrink: 1;
}
.headerstate_empty__krYgz35NFz:global(.__wab_instance) {
  width: auto;
  align-self: stretch;
}
.tasksContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
}
.multipleChoice__v8BTo:global(.__wab_instance) {
  align-self: stretch;
  max-width: 532px;
  width: 100%;
  min-width: 0;
}
.multipleChoice__cLiKx:global(.__wab_instance) {
  align-self: stretch;
}
.multipleChoice__ypH81:global(.__wab_instance) {
  align-self: stretch;
}
.multipleChoice__fasiK:global(.__wab_instance) {
  align-self: stretch;
}
.footer__gnKnk:global(.__wab_instance) {
  position: relative;
  width: auto;
  align-self: stretch;
  height: auto;
  flex-grow: 0;
  flex-shrink: 1;
}
.freeBox__gmN6A {
  box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  align-self: auto;
  width: 550px;
  height: auto;
}
.freeBoxglobal_theme_dark__gmN6ALCthO {
  box-shadow: 0px 25px 50px 0px rgba(255, 255, 255, 0.3);
}
.appBody2 {
  box-shadow: 0px 2px 4px 0px #00000033;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  width: 550px;
  height: auto;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  position: relative;
  z-index: 1;
  background: var(--token-hCm8RC3HYdLy);
  margin: 10px;
}
.appBody2global_theme_dark {
  box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.5);
  background: var(--token-xUmLPxmW_jbT);
}
.header___5H7F5:global(.__wab_instance) {
  position: relative;
  width: auto;
  align-self: stretch;
  height: auto;
  flex-grow: 0;
  flex-shrink: 1;
}
.headerstate_empty___5H7F535NFz:global(.__wab_instance) {
  width: auto;
  align-self: stretch;
}
.footer___5Mje5:global(.__wab_instance) {
  position: relative;
  width: auto;
  align-self: stretch;
  height: auto;
  flex-grow: 0;
  flex-shrink: 1;
}
