.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 478px;
  max-width: 807px;
  padding-top: 0px;
  min-width: 0;
}
.freeBox__rpf0A {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  min-width: 0;
  padding: 16px;
}
.freeBox__rpf0A > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__rpf0A > :global(.__wab_flex-container) > *,
.freeBox__rpf0A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rpf0A > :global(.__wab_flex-container) > picture > img,
.freeBox__rpf0A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__rExlp {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 1080px;
  min-width: 0;
}
.freeBox__rExlp > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__rExlp > :global(.__wab_flex-container) > *,
.freeBox__rExlp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rExlp > :global(.__wab_flex-container) > picture > img,
.freeBox__rExlp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.img {
  object-fit: cover;
  width: 40px;
  height: 40px;
  position: relative;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__kzKXk {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__kzKXk > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__kzKXk > :global(.__wab_flex-container) > *,
.freeBox__kzKXk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kzKXk > :global(.__wab_flex-container) > picture > img,
.freeBox__kzKXk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.button__vHFhL:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__smj6P {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__t8An {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__nLfrN {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__qd9Wz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__yFhQp {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__hOaS8 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__bqhC0 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__aSvhy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg___7Ajck {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__qlZvl {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__vq9Bb {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__uY96S:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__cFu77 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___6DBoH {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__qblsq {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__cnNkc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__hvm3Q {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__lpLxz {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__xw1Kz {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__jpCQh:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__vRnzC {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__vGvIf {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___6KCfP {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__mHhWb {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button__q8J5D {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: #000000d9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 6px;
  border-width: 0px;
}
.button__b23K2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__zcz09 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__dLEov {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__jGxr5 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.content:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
